<h1>Welcome to join us</h1>

<form action="/register" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <button>Submit</button>
</form>

<br>
<a href="/json">View JSON Data</a>
<br>
<a href="/oneuser">View one user</a>
<br>
<a href="/allusers">View all users</a>